html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
  .image1 {
    width: 300px;
    height: auto;
  }
  .image-container {
    width: 100%;
    height: auto;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
  background-color: #F5F7FA;
}

body {
  margin-bottom: 60px;
  background-color: #F5F7FA;
}

h1 {
  font-size: 1rem;
  font-family: 'Poppins', sans-serif;
  color: #1F2933;
}
h5 h6 {
  font-family: 'Poppins', sans-serif;
  color: #1F2933;
}

p {
  white-space: pre-wrap;
  font-family: 'Inter', sans-serif;
  color: #52606D;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

.image1 {
  width: auto;
  height: auto;
  border-radius: 10px;
  box-shadow: 4px 8px 12px rgba(33, 134, 122, .5);
}

.image-container {
  display: flex;
  gap: 20px;
  justify-content: center;
  height: 500px; 
  padding-top: 20px;
}

#title {
  margin-bottom: 20px;
}

.card {
  background-color: #fff;
  box-shadow: 4px 8px 12px rgba(33, 134, 122, .5);
}
.card-text {
  color:#1F2933;
}
.card-subtitle {
  color:#52606D;
}

.card-link {
  color: #2A9D8F;
}
.card-link:hover {
  color: #21867A;
  text-decoration: none;
}

.linkedin-icon {
  width: 30px;
  height: 30px;
  margin-left: 10px;
}

.navbar {
  background-color: #2A9D8F;
  color:#cbdfbd;  
}

.navbar-brand {

  font-size: 2rem;
  font-family:'Poppins', sans-serif;
}